html {
  scroll-behavior: smooth;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: #0000;
}
img {
  width: 100%;
  height: unset;
}
*,
::after,
::before {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  margin: 0;
  padding: 0;
}
a,
hr {
  color: inherit;
}
.footer__link,
footer {
  position: relative;
}
h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
}
abbr[title] {
  text-decoration: underline dotted;
}
embed,
iframe,
img,
object,
svg {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: 0 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
}
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
button:disabled {
  cursor: default;
}
:-moz-focusring {
  outline: none;
}
select:disabled {
  opacity: inherit;
}
[contenteditable]:focus {
  outline: auto;
}
button {
  all: unset;
}
[type="button"],
[type="reset"],
[type="submit"],
button,
label[for] {
  cursor: pointer;
}

a {
  background-color: #0000;
  text-decoration: none;
}

[class*="sr-only"] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  font-family: "Manrope", sans-serif;
  position: relative;
  background: var(--dark-blue);
  color: var(--light-cyan);
  display: grid;
  place-items: center;
  min-height: 100vh;
}

main {
  max-width: 34rem;
  margin: 0 1rem;
  background: var(--dark-grayish-blue);
  padding: 2.5rem 1.7rem;
  padding-bottom: 4rem;
  display: grid;
  place-items: center;
  position: relative;
  border-radius: 0.5rem;
  box-shadow: 0 15px 40px #0004;
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.blockquote__quote::before {
  content: "“";
  margin-right: -0.2rem;
}

.blockquote__quote::after {
  content: "”";
  margin-left: -0.35rem;
}

.blockquote__quote {
  font-size: 1.45rem;
  line-height: 1.4;
}

.blockquote__reference {
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--neon-green);
  letter-spacing: 0.2rem;
}

picture {
  display: block;
  margin-top: 1.5rem;
}

button {
  position: absolute;
  background: var(--neon-green);
  padding: 1.6rem;
  bottom: -14%;
  border-radius: 50%;
  transform: scale(0.8);
  display: grid;
  place-items: center;
  transition: 0.7s ease;
}

[class^="dice__face"],
.action-btn__dice,
.action-btn__decor {
  height: 2rem;
  width: 2rem;
}

.action-btn__decor {
  position: absolute;
  box-shadow: 0 0 15px 12px #fffc;
  z-index: -1;
  border-radius: 50%;
  background: #fffc;
  opacity: 0;
  transition: 0.4s ease;
}

.main__action--active :is(blockquote, picture) {
  filter: blur(5px);
}

.main__action--active button {
  box-shadow:
    0 0 20px var(--neon-green),
    0 0 0 100vh #000a !important;
  transform: translateY(-185%) scale(2.2);
}

.main__action--active .action-btn__decor {
  opacity: 1;
}

.action-btn__dice {
  position: relative;
  border-radius: 0.3rem;
  overflow: hidden;
}

.main__action--active .action-btn__dice {
  transform-style: preserve-3d;
  animation: dice-spin 4s infinite alternate;
  border-radius: 0;
  overflow: visible;
}

[class^="dice__face"] {
  position: absolute;
  background: 0% / contain url(./images/icon-dice.svg) no-repeat;
  box-shadow: inset 0 0 10px #202733;
}

.dice__face--front {
  transform: rotateX(90deg) translateZ(15px);
}

.dice__face--back {
  transform: translateZ(15px);
}

.dice__face--right {
  transform: rotateY(90deg) translateZ(15px);
}

.dice__face--left {
  transform: rotateY(180deg) translateZ(15px);
}

.dice__face--top {
  transform: rotateY(-90deg) translateZ(15px);
}

.dice__face--bottom {
  transform: rotateY(-90deg) translateZ(15px);
}

@keyframes dice-spin {
  0% {
    transform: rotateX(90deg) rotateY(360deg) translateZ(0px);
  }
}

.main__error-prompter,
.error-prompter__subdiv {
  display: grid;
  place-items: center;
}

.main__error-prompter {
  font-size: 1.5rem;
  position: fixed;
  inset: 0;
  background: #000a !important;
  backdrop-filter: blur(3.5px);
  transition: 0.4s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.error-prompter__subdiv {
  padding: 1rem;
  gap: 2rem;
  width: 85%;
}

.error-prompter__subdiv img {
  filter: drop-shadow(-10px 10px 4rem #fff);
  max-width: 10rem;
}

.error-prompter__heading {
  font-size: 1.6rem;
}

.main__error-prompter--active {
  visibility: visible;
  opacity: 1;
}

footer {
  display: block;
  text-align: center;
  font-size: 0.75rem;
  position: absolute;
  bottom: 1rem;
  transition: 0.5s ease;
  width: 100%;
  font-weight: 600;
  color: var(--light-cyan);
}

.footer__link {
  color: var(--neon-green);
}

@media (min-width: 56.25em) {
  main {
    margin-top: -2rem;
    border-radius: 1rem;
    min-height: 21rem;
  }

  blockquote {
    gap: 1.9rem;
    padding: 0 1rem;
  }

  .blockquote__reference {
    font-size: 0.85rem;
    word-spacing: 0.18rem;
  }

  .blockquote__quote {
    font-size: 1.7rem;
    letter-spacing: 0.02rem;
    word-spacing: -0.1rem;
    line-height: 1.35;
  }

  picture {
    margin-top: 1.2rem;
  }

  .main__action-btn {
    bottom: -12%;
  }

  .main__action-btn:hover {
    box-shadow:
      0 0 40px var(--neon-green),
      0 0 0 2vh #52ffa80f;
  }

  footer {
    letter-spacing: 0.02rem;
    word-spacing: 0.06rem;
    font-size: 0.85rem;
  }

  .footer__link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--neon-green);
    transition: 0.7s;
    z-index: -1;
    transform: rotate(-2deg);
  }

  .footer__link {
    padding: 0.4rem;
    transition: 0.4s ease;
    margin-left: -0.2rem;
    margin-right: -0.35rem;
  }

  .footer__link:hover {
    color: var(--dark-blue);
  }

  .footer__link:hover::before {
    width: 100%;
  }
}
